:root {
  --max-width: 1220px;
  --border-radius: 8px;
  --primary-bg-color: #fb8f1d;
  --primary-button-color: #fb8f1d;
  --primary-text-color: #202336;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 1rem;
  font-weight: 500;
  padding: 16px 46px;
  background-color: #fff;
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-button-color);
  border-radius: var(--border-radius);
  transition: all 0.2s ease;
  &:hover {
    text-shadow: 0 0 1px var(--primary-button-color);
    box-shadow: 0 0 5px var(--primary-bg-color);
  }
}

/* section,main,header,footer {
  background-color: #7b4a4a;
  border: 3px solid black;
} */

.colored {
  color: #fff;
  background-color: var(--primary-bg-color);
  &:hover {
    text-shadow: 0 0 1px #fff;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: var(--max-width);
}

.promo {
  padding-top: 104px;
  h1 {
    font-size: 64px;
    max-width: 356px;
  }
  .content {
    gap: 74px;

    p {
      font-weight: 600;
      font-size: 22px;
    }
  }
}
.layout-rows {
  display: flex;
  justify-content: space-between;
}

.layout-columns {
  display: flex;
  flex-direction: column;
}

/* inputs */
.input-wrapper {
  flex-wrap: wrap;
  max-width: 470px;
  gap: 30px;
  margin-bottom: 51px;
}
