.footer {
  padding: 61px 0px 120px;
  background-color: #f9f9fb;
  .info {
    font-size: 18px;
    font-weight: 300;
    color: #848484;
    line-height: 28px;
    justify-content: space-between;
    max-width: 360px;
    & div {
      justify-content: space-between;
      gap: 22px;
    }
  }
  .nav {
    gap: 136px;
    & div {
      gap: 1.5rem;
      & p {
        color: #848484;
        font-weight: 300;
        font-size: 18px;
        width: fit-content;
        display: inline-block;
        padding-bottom: 2px;
        background-image: linear-gradient(#848484, #848484);
        background-position: 0 100%; /*OR bottom left*/
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition: background-size 0.3s, background-position 0s 0.3s;
        cursor: pointer;
        &:hover {
          font-weight: 400;
          background-size: 100% 2px;
        }
      }
    }
  }
}
